:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #212121;
}
textarea{
  resize: none;
}
h1, h2, h3, h4, p{
  margin-top: 0;
  margin-bottom: 0;
}
h1:last-child,
h2:last-child, 
h3:last-child, 
h4:last-child, 
p:last-child{
  margin-bottom: 0;
}
.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.link {
  text-decoration: none;
  
}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header{
  padding-top: 25px ;
  padding-bottom: 25px;

}

.header-contact:not(:last-child){
  margin-right:50px;
}
.header-mail:hover .header-svg,
.header-mail:focus .header-svg{
  fill: var(--accent-color);
}

.header-mail:focus,
.header-mail:hover{
  color: var(--accent-color);
  fill: var(--accent-color);
}
.header-phone:hover,
.header-phone:focus{
  color: var(--accent-color);
}
.header-phone:hover .header-svg,
.header-phone:focus .header-svg{
  fill: var(--accent-color);
}

.header-svg{
  display: flex;
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container{
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color:var(--primary-text-color);
  margin-right: 93px;
}
.logo > span {
  color: var(--accent-color);
}


.nav-list .current{
  color: var(--accent-color);
}
.current{
  position: relative;
}
.current::after{
  position: absolute;
  bottom: 0;
  left: 0;
  content:'';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
 
}
.nav-list{
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child){
margin-right: 50px;
}
.nav-link {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contact-nav{
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contact-nav a {
  display: flex;
  align-items: center ;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero */
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 40px;
  
}
.main-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 30px;
}
/* Advantages */
.advantages-list{
  display: flex;

}
.advantages{
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-examples{
  width: 270px;
}
.advantages-examples:not(:last-child){
  margin-right: 30px;
}
.title-icon{
  display: flex;
  background-color:#F5F4FA;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}



.title-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.text-desc{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.title-text:last-child{
  margin-right: 0;
}
.team-desc:last-child{
  margin-right: 0;
}
.socials{
  display: flex;
  justify-content: center;
}

.sociasls-item:not(:last-child){
  margin-right: 10px;
}
.socials-link{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus{
  background-color: var(--accent-color);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon{
  fill: #fff;
}
.socials-icon{
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-job{
  padding-bottom: 94px;
}
.img-list {
  display: flex;
}
.img-item{
  display: block;
  position: relative;
  overflow: hidden;
}
.img-item:hover .text-wrapper{
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-wrapper{
  display: flex;
}
.text-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-item:not(:last-child){
  margin-right: 30px;
}
.site-subtitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
.our-team{
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list{
  display: flex;
 
 
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.team-desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
 margin-bottom: 16px;
}
.team-text{
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-icon{
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
}
.team-icon:not(:last-child){
  margin-right: 30px;
}
.clients{
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-subtitle{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.client-link{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: #fff;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:focus,
.client-link:hover{
  border: 1px solid #2196F3;
}
.client-link:hover .client-icon,
.client-link:focus .client-icon{
  fill: var(--accent-color);
}
.client-item:not(:last-child){
  margin-right: 30px;
}


.client-icon{
  fill:  #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon:focus,
.client-icon:hover{
  fill: #2196F3;
}
/* Footer */
.footer {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.socials-link-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.socials-icon-footer{
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.socials-link-footer:hover,
.socials-link-footer:focus{
  background-color: var(--accent-color);
}
.footer-socials{
  margin-left: 70px;
}
.footer-container{
  display: flex;
  align-items: baseline;
}

.socials-list-footer{
  padding-top: 20px;
}
.footer-subtitle{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
 
}
.logo-footer {
  font-family: 'Raleway';
  display: inline-block;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;

color: #ffffff;
}
.adress-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.adress-link:focus,
.adress-link:hover {
  color: var(--accent-color);
}
.contact-footer {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.footer-list:not(:last-child){
  margin-bottom: 9px;
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}
.logo-blue{
  color: var(--accent-color);
  
}






/* Portfolio */
.examples{
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-list{
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}
.button-list-main{
  padding-top: 94px;
  padding-bottom: 34px;
}
.button-list-items:not(:last-child){
  margin-right:8px;
}
.button-list-items button{
  box-sizing: border-box;
  padding: 6px 22px; 
}
.button-list-items button:hover{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-list-items button:focus{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-list  button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-color:#F5F4FA ;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)  ;
}

.button-list button:focus,
.button-list button:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}
.subtitle-examples > li > h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.desc-examples > li > p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}
.flex-element{
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-link:hover,
.flex-link:focus{
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-element:nth-child(3n){
  margin-right: 0;
}
.flex-element > h3 {
  padding: 20px 24px 4px 24px;
}
.flex-element > p {
  padding: 0px 24px 20px 24px;
}
.text-flex{
  padding: 20px 24px;
  border-right:1px solid #EEEEEE;
  border-bottom:1px solid #EEEEEE;
  border-left:1px solid #EEEEEE;  
}
.text-flex > h3{
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.text-flex > p {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.mailing-list{
  margin-left: 93px;
}
.mailing-list input::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-subtile{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.mailing-form{
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
}
.mailing-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #fff;
}
.meiling-icon{
  fill: #fff;
  margin-left: 10px;
}
.mailing-list form{
  display: flex;
  align-items: center;
}
/* Modal window */
.backdrop{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms ease-in, vicibility 250ms ease-in;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.element-wrapper{
  position: relative;
  overflow: hidden;
}
.team-descr{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white ;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-link:hover .team-descr{
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-link:focus .team-descr{
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #fff;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-btn{
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #fff;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus{
  fill: var(--accent-color);

}
.modal-subtitle{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.form-field{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field input{
  height: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  padding-left: 42px;
}
.form-field textarea{
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  height: 120px;
  padding: 12px 16px;
}
.form-field label{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.form-policy{
  display: flex;
  margin-bottom: 40px;
  justify-content: center; 
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.policy-link{
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

}

  

.button-submit{
  display: block;
  width: 200px;
  height: 50px;
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.form-field input::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color:  rgba(117, 117, 117, 0.5);
}
.modal-icon{
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(50%);
  transform: translateY(50%);
  margin-left: 15px;
}
.modal-span{
  position: relative;
}
.modal-span:focus-within > .modal-icon{
  border-color: #2196F3;
  fill: var(--accent-color);
}
.form-field:hover{
  color: var(--accent-color);
  fill: #2196f3;
  border-color: #2196f3;
}
.check{
  display: flex;
  align-items: center;
  padding-left: 2em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: auto;
  margin-right: auto;
  
}
.check__input{
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.check__box{
  position: absolute;
  
  margin-left: -2em;
  width: 16px;
  height: 16px;
  background-image: url(../images/box.svg);
  background-repeat: no-repeat;

}

.check__input:checked + .check__box{
  width: 16px;
  height: 16px;
  background-image: url(../images/icon__check.svg);
  background-repeat: no-repeat;
}
.check__input:focus + .check__box{
 background-image: url(../images/box_copy.svg);
 transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
 background-repeat: no-repeat;
}
.check__input:checked:focus + .check__box{
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-image: url(../images/icon__check.svg);
  background-repeat: no-repeat;
}
.—Åonditions-link{
  
  color: var(--accent-color);
  
}
input:hover,
input:focus{
  border: 1px solid #2196F3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

textarea:hover,
textarea:focus{
    border: 1px solid #2196F3;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  
}
input:focus-visible{
  outline: none ;
}
textarea:focus-visible{
  outline: none ;
}
